<!DOCTYPE html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">
	<div class="col-sm-6 col-sm-offset-3">
		<h1><span class="fa fa-sign-in">Login</span></h1>
		<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!--login form-->
	<form action="/auth/login" method="post">
		<!--form group-->
		<div class="form-group">
			<label></label>
			<input type="email" name="email" class="form-control">
		</div>
		<!--form group-->
		<div>
		<label>Password</label>
		<input type="password" name="password" class="form-control">
		</div>
		<!--button-->
		<button type="submit" class="btn btn-success btn-lg">LOGIN</button>
	</form>
	<hr>
	<p>Need An Account ? <a href="/auth/signup">SIGNUP</a></p>
	<p>Or go <a href="/auth">HOME</a>.</p>
	</div>
</div><!--END OF THE CONTAINER-->
</body>
</html>